* {
    padding:0;
    margin:0;
}

body {
    background-color: aliceblue;
}

header {
    display:flex;
    justify-content: space-between;
    padding:10px;
}

.desktop-nav {
    display:flex;
}

.nav-list > li > a {
    color:white;
}

.nav-list {
    display:flex;
    background-color: black;
    color:white;
    list-style-type: none;
    width:100%;
    justify-content: space-evenly;
    font-family: "Roboto Condensed";
    font-size: large;
    padding:5px 0px 5px 0px;
}

.mobile-btn {
    background-color: transparent;
    border:none;
    transition:0.5s;
}

.mobile-btn:hover {
    scale:1.2;
}

.mobile-nav-list {
    animation-name: slider;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}

@keyframes slider {
    0% {top:63px; left:0px}
}

@media screen and (min-width:601px) {
    .mobile-btn {
        display:none;
    }
}

@media screen and (min-width:601px) {
    .mobile-nav {
        display:none;
    }
}

@media screen and (max-width:600px) {
    .desktop-nav {
        display:none;
    }
}

.mobile-nav-list {
    display:block;
    position:absolute;
    top:73px;
    left:0;
    width:100%;
    background-color: black;
    color:white;
    font-family: "Roboto Condensed";
    font-size: large;
    list-style-type:none;
}

.mobile-nav-list > li {
    padding: 10px 0px 10px 10px;
}

.mobile-nav-list > li > a {
    color:white;
}

main {
    display:flex;
    justify-content: center;
}

.reserve-table {
    width:80%;
    display:flex;
    position: relative;
    justify-content: center;
}

.reserve-table > img{
    width:100%;
    margin:10px 10px 0px 10px;
    border-radius: 10px;
    opacity:0.4;
    box-shadow: 0px 0px 5px;
}

.bannerText {
    position: absolute;
    top:10%;
    left:10%;
}

@media screen and (width >= 601px) {
    .first-line {
        font-size: 100px;
    }

    .second-line {
        font-size: 70px;
    }

    .third-line {
        font-size: 90px;
    }
}

.first-line {
    text-shadow: 3px 3px 5px white;
}

.second-line {
    text-shadow: 3px 3px 5px white;
}

.third-line {
    text-shadow: 3px 3px 5px white;
}

.desktop-banner-sub-text {
    position: absolute;
    border-top:2px dotted black;
    top:50%;
    left:11%;
    font-family: "Roboto Condensed";
    font-size: 25px;
}

.mobile-banner-sub-text {
    display:none;
    position: absolute;
    border-top:2px dotted black;
    top:50%;
    left:11%;
    font-family: "Roboto Condensed";
    font-size: small;
}

@media screen and (max-width:601px) {
    .mobile-banner-sub-text {
        display:block;
    }

    .desktop-banner-sub-text {
        display: none;
    }
}

.desktop-reserve-btn {
    position: absolute;
    top:80%;
    left:11%;
    border:2px solid black;
    width:200px;
    background-color: white;
    font-family: "Roboto Condensed";
    font-size: larger;
    padding:7px;
    cursor: pointer;
}

.mobile-reserve-btn {
    display:none;
    position: absolute;
    top:80%;
    left:10%;
    border:2px solid black;
    width:100px;
    background-color: white;
    font-family: "Roboto Condensed";
    padding:5px;
    cursor: pointer;
}

@media screen and (max-width:601px) {
    .mobile-reserve-btn {
        display: block;
    }

    .desktop-reserve-btn {
        display:none;
    }
}

.footer {
    display:grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto auto;
    background-color:#ceb5b5;
}

.footer > img {
    padding:10px;
}

.socials {
    display:flex;
    padding-top:15px;
    justify-content: start;
    
}

.socials > li > img {
    width:30px;
    height:30px;
    padding:5px;
    cursor: pointer;
}

.socials > li {
    list-style-type: none;
}

.entry1 {
    padding:10px;
}

.entry4 {
    display:flex;
    justify-content: end;
    padding:10px;
}

.about {
    list-style-type: none;
    font-family: "Roboto Condensed";
    padding:10px;
}

.footer-heading {
    font-family: "Roboto Condensed";
    font-size: large;
    padding-bottom: 15px;
}

.top-recipes {
    border-bottom:5px dotted black;
    margin:20px 5px 30px 5px;
}

.container {
    display:grid;
    grid-template-columns: 300px 1fr;
    gap:20px;
    align-items: center;
    margin: 0px 5px 10px 5px;
}

.container:hover {
    background-color: rgb(214, 234, 251);
}

.image-container > img {
    width:100%;
    height:auto;
    display:block;
    cursor: pointer;
}

.content-container {
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: space-between;
}

.cta-section {
    display:flex;
    align-items: end;
    justify-content: flex-end;
    gap:20px;
}

.title-card {
    font-family: "Roboto Condensed";
}

.tags {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.tag-text {
    font-family:"Roboto Condensed";
    background-color: rgb(234, 227, 227);
    padding:0.2rem;
    border-radius: 2px;
    font-size: small;
}

.card-description {
    font-family: "Roboto Condensed";
}

.order-button {
    width:200px;
    height:50px;
    border:none;
    background-color: yellowgreen;
    color:white;
    font-family: "Roboto Condensed";
    font-size:large;
    margin:10px 10px 10px 10px;
    cursor: pointer;
}

.order-button:hover {
    background-color: green;
}

.order-button:active {
    background-color: black;
}

.price {
    font-family: "Roboto Condensed";
    font-size: large;
    margin:10px 10px 10px 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.reserve-form {
    
    justify-content: center;
    background: white;
    padding: 2em;
    border-radius: 8px;
    position: relative;
    max-width: 90%;
    width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

.date-form {
    font-family: "Roboto Condensed";
}

.reserve-time {
    font-family: "Roboto Condensed";
}

.guest-form {
    font-family: "Roboto Condensed";
}

.occasion-form {
    font-family: "Roboto Condensed";
}

.submit-btn {
    font-family: "Roboto Condensed";
    width:100%;
    border-radius: 10px;
    border:none;
    margin-top:10px;
    height:30px;
    background-color: rgb(39, 39, 231);
    color:white;
    transition: 0.2s;
}

.submit-btn:hover {
    background-color: purple;
}

.submit-btn:active {
    background-color: black;
}

.form-title {
    text-align: center;
}

.entry {
    justify-content: center;
    padding:10px;
}

.fieldset {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-content: start;
    border-radius: 10px;
}

select {
    border:none;
    padding:5px;
}

