
* {
    padding:0;
    margin:0;
}

header {
    display:flex;
    justify-content: space-between;
    padding:10px;
}

.header-logo {
    margin-left:10px;
}

.header-logo > button {
    background-color: transparent;
    border:none;
}

.header-logo > button:hover {
    scale:1.2;
}
